/*

Podobne clanky
==============

*/

.similar-articles {
	list-style-type: none;
	margin: 0 0 1.rem;
	padding: 0;
}

// Polozka podobnych clanku

.similar-article {
	margin: 0 0 .75rem 0;
	padding: 0;
}

