/*

Tabulka v obsahu
================

*/

table {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: .75rem .25rem;
  border-bottom: 1px solid #ccc;
}

td,
th {
	img {
		vertical-align: middle;
	}
}

