/*

Fotogalerie
===========

*/

.gallery {
  @include clearfix;
}

.gallery-item {
	float: left;
	width: 200px;
	margin: 0 15px 16px 0;

  &.last {
    margin-right: 0;
  }
}

.gallery-item a {
	margin-bottom: 4px;
}

