/*

Navigace
========

*/

.nav {
  border-top: 1px solid #fff;
  margin-bottom: 2rem;
  background: $color-dark;
}

// V tisku nezobrazujeme

@media print {
  .nav {
    display: none;
  }
}


// Kontejner navigace

.nav ul {
  @include clearfix;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Polozka navigace: zakladna

.nav-item {
  display: block;
  padding: 1rem $gutter;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Polozka navigace: aktivni

b .nav-item,
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  font-weight: normal;
  color: #fff;
}

// Layout

.nav li {
  box-sizing: border-box;
  float: left;
  width: 20%;
  border-right: 1px solid #fff;

  &:first-child {
    border-left: 1px solid #fff;
  }
}
